<div id="header">
  <div>
    <a href="/index"><img src="images/logo.gif" alt="Logo" /></a>
  </div>
  <ul>
    <li class="first current"><a href="/index">Home</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="/mealHistory">Meal History</a></li>
    <li><A href="/updateMeals">Update Meals</A></li>
    <li class="last"><a href="/contact">Contact Us</a></li>
  </ul>
</div>
