<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>בית - HealthyLife</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div id="page">
      <%- include('../partials/header'); %>

      <!-- אזור התוכן הראשי עם תמונת רקע -->
      <div class="main-content">
        <% if (!isLoggedIn) { %>
        <!-- אם המשתמש לא מחובר -->

        <!-- אזור ה-Log In -->
        <div id="login-section">
          <form id="loginForm" action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />

            <button type="submit">Submit</button>
          </form>
        </div>

        <% if (typeof alertMessage !== 'undefined') { %>
        <script>
          alert("<%= alertMessage %>");
        </script>
        <% } %>

        <!-- אזור הרשמה - Sign Up -->
        <div id="sign-up-section">
          <h2>Sign Up</h2>
          <form id="signUpForm" action="/createUser" method="POST">
            <label for="signUpId">ID:</label>
            <!-- שינוי type ל-number -->
            <input type="number" id="signUpId" name="id" required />

            <label for="signUpUsername">Username:</label>
            <input type="text" id="signUpUsername" name="username" required />

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />

            <label for="signUpPassword">Password:</label>
            <input
              type="password"
              id="signUpPassword"
              name="password"
              required
            />

            <button type="submit">Create Account</button>
          </form>
        </div>

        <% } else { %>
        <!-- אם המשתמש מחובר -->

        <!-- הצגת תוכן אחר אם המשתמש מחובר -->
        <div id="welcome-section">
          <h2>Welcome, <%= username %>!</h2>

          <!-- כפתור התנתקות -->
          <a href="/logout" id="logout-button">Log Out</a>

          <form action="/deleteAccount?_method=DELETE" method="POST">
            <button
              type="submit"
              onclick="return confirm('Are you sure you want to delete your account?')"
            >
              Delete Account
            </button>
          </form>
        </div>

        <% } %>
      </div>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
