<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>בית - HealthyLife</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div id="page">
      <%- include('../partials/header'); %>

      <!-- כפתור התחברות -->
      <div id="login-button-container">
        <button id="loginBtn" class="login-button">Log in</button>
      </div>

      <!-- חלון הקופץ (Modal) -->
      <div id="loginModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Log In</h2>
          <form id="loginForm" action="/users/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />

            <button type="submit">Submit</button>
          </form>
        </div>
      </div>

      <!-- אזור התוכן הראשי עם תמונת רקע -->
      <div class="main-content">
        <!-- תוכן אחר יכול להיכנס כאן בעתיד -->      
      </div>
    </div>
		<%- include('../partials/footer') %>
    <script src="/main.js"></script>
  </body>
</html>
