<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <script src="/socket.io/socket.io.js"></script>
    <title>Meal History - HealthyLife</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/mealHistory.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        /* Button Styling for Consistency */
        #show-chart-button, 
        #view-all-history, 
        .submit-button {
            background: #2c3e50;
            color: #fc8181;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            margin: 0 10px;
            text-transform: uppercase;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        #show-chart-button:hover, 
        #view-all-history:hover, 
        .submit-button:hover {
            background: #34495e;
        }

        .chart-container, .meal-table { 
            display: none; 
        }

        .meal-cards-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* כרטיסיות שיושמו אוטומטית בשורות */
            gap: 20px;
            padding: 20px;
            justify-items: center; /* ממרכז את הכרטיסיות */
        }

        .meal-card {
            display: flex;
            flex-direction: column;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            transition: transform 0.3s ease;
            cursor: pointer;
            max-width: 100%; /* מאפשר לכרטיסיות להתרחב לגודל מלא */
            width: 100%;
        }

        .meal-card:hover {
            transform: scale(1.05);
        }

        .meal-card-image {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

        .meal-card-content {
            display: flex;
            flex-direction: column;
            padding: 15px;
        }

        .meal-card-content h3 {
            margin-bottom: 10px;
            font-size: 16px;
            color: #2c3e50;
        }

        .meal-card-content p {
            flex-grow: 1;
            margin-bottom: 15px;
            color: #666;
        }

        .meal-card-details {
            display: none;
            background: rgba(255, 255, 255, 0.9);
            padding: 15px;
            border-top: 1px solid #eee;
        }

        .welcome-text, .assistance-text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0;
        }

        .assistance-text {
            font-style: italic;
            color: #666;
        }

        /* Responsive Adjustments */
        @media (max-width: 900px) {
            .meal-cards-container {
                grid-template-columns: 1fr; /* שורה אחת במסכים קטנים */
            }
        }

        /* Style for the button container */
        .view-options {
            display: flex;
            justify-content: flex-start; /* לשים את הכפתורים בצמוד לשמאל */
            gap: 10px; /* מרווח בין הכפתורים */
        }
    </style>
</head>
<body>
    <div id="page">
        <%- include('../partials/header') %>
        <div id="content">
            <div>
                <h1>Meal History</h1>
                <div class="welcome-text">
                    <p>Welcome to your Meal History page! Here you can view a record of the meals you've consumed over time.</p>
                </div>

                <div class="view-options">
                    <button id="show-chart-button">Show Chart</button>
                    <button id="view-all-history">View All Meals</button>
                </div>

                <div class="assistance-text">
                    <p>If you have any further questions or need assistance, don't hesitate to reach out. We are here for you!</p>
                </div>

                <form id="filter-form" class="filter-form">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="start-date">Start Date:</label>
                            <input type="date" id="start-date" name="startDate" required>
                        </div>
                        <div class="form-group">
                            <label for="end-date">End Date:</label>
                            <input type="date" id="end-date" name="endDate" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="meal-type">Meal Type:</label>
                            <select id="meal-type" name="mealType">
                                <option value="all">All</option>
                                <option value="breakfast">Breakfast</option>
                                <option value="lunch">Lunch</option>
                                <option value="dinner">Dinner</option>
                                <option value="snack">Snack</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="View History" class="submit-button">
                        </div>
                    </div>
                </form>

                <div class="chart-container">
                    <canvas id="mealChart"></canvas>
                </div>

                <div class="meal-cards-container"></div>
            </div>
        </div>
        <%- include('../partials/footer') %>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const filterForm = document.getElementById('filter-form');
            const viewAllButton = document.getElementById('view-all-history');
            const mealChart = document.getElementById('mealChart').getContext('2d');
            const showChartButton = document.getElementById('show-chart-button');
            const chartContainer = document.querySelector('.chart-container');
            const mealCardsContainer = document.querySelector('.meal-cards-container');
            let chartInstance;

            fetchMealHistory(true);

            showChartButton.addEventListener('click', function() {
                chartContainer.style.display = 'block';
                mealCardsContainer.style.display = 'none';
            });

            filterForm.addEventListener('submit', function(event) {
                event.preventDefault();
                fetchMealHistory();
            });

            viewAllButton.addEventListener('click', function() {
                fetchMealHistory(true);
            });

            function fetchMealHistory(viewAll = false) {
                let url = '/meals/history';
                if (!viewAll) {
                    const startDate = document.getElementById('start-date').value;
                    const endDate = document.getElementById('end-date').value;
                    const mealType = document.getElementById('meal-type').value;
                    url += `?startDate=${startDate}&endDate=${endDate}&mealType=${mealType}`;
                }

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        displayMealCards(data);
                        updateChart(data);
                    })
                    .catch(error => console.error("Error fetching meals:", error));
            }

            function displayMealCards(meals) {
                mealCardsContainer.innerHTML = '';
                meals.forEach(meal => {
                    const card = document.createElement('div');
                    card.classList.add('meal-card');
                    card.innerHTML = `
                        <img src="${meal.image}" alt="${meal.mealType}" class="meal-card-image">
                        <div class="meal-card-content">
                            <h3>${meal.mealType} - ${new Date(meal.mealDate).toLocaleDateString()}</h3>
                            <p>${meal.description.substring(0, 50)}...</p>
                        </div>
                        <div class="meal-card-details">
                            <p>Blood Sugar: ${meal.bloodSugar}</p>
                            <p>Food Sugar: ${meal.foodSugar || 'N/A'}</p>
                        </div>
                    `;

                    card.addEventListener('click', () => {
                        const details = card.querySelector('.meal-card-details');
                        details.style.display = details.style.display === 'block' ? 'none' : 'block';
                    });

                    mealCardsContainer.appendChild(card);
                });
            }

            function updateChart(meals) {
                const dates = meals.map(meal => new Date(meal.mealDate).toLocaleDateString());
                const bloodSugarLevels = meals.map(meal => meal.bloodSugar);

                if (chartInstance) {
                    chartInstance.destroy();
                }

                chartInstance = new Chart(mealChart, {
                    type: 'line',
                    data: {
                        labels: dates,
                        datasets: [{
                            label: 'Blood Sugar Levels',
                            data: bloodSugarLevels,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 2,
                            fill: false
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                display: false
                            }
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>
